@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

.page-transition-overlay {
  left: 0;
  width: 100%;
  --transition-bg: #ffffff;
}

@media (min-width: 1280px) {
  .page-transition-overlay {
    left: 300px;
    width: calc(100% - 300px);
  }
}


/* button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
} */


option {
  color: black;
}

body.chakra-ui-light .page-transition-overlay,
html.chakra-ui-light .page-transition-overlay {
  --transition-bg: #ffffff;
}

body.chakra-ui-dark .page-transition-overlay,
html.chakra-ui-dark .page-transition-overlay {
  --transition-bg: #0f172a;
}
